In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **2. Import MART dataframe**`

In [3]:
mart = pd.read_excel("supermarket_sales.xlsx", engine = 'openpyxl')
mart.head(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,692-92-5582,B,Mandalay,Member,Female,Food_and_beverages,54.84,3,8.226,172.746,2/20/2019,13:27:00,Credit card,164.52,4.761905,8.226,5.9
1,351-62-0822,B,Mandalay,Member,Female,Fashion_accessories,14.48,4,2.896,60.816,2019-06-02 00:00:00,18:07:00,Ewallet,57.92,4.761905,2.896,4.5
2,529-56-3974,B,Mandalay,Member,Male,Electronic_accessories,25.51,4,5.102,107.142,2019-09-03 00:00:00,17:03:00,Cash,102.04,4.761905,5.102,6.8

# **3. Create a basic BOX plot on one NUMERIC variable**

In [ ]:
sns.boxplot(y='Total',data=mart, width=0.2)

# **4. Create a basic BOX plot on one numeric variable by a CATEGORICAL variable**

In [ ]:
sns.boxplot(x='Payment',y='Total',data=mart)

# **5. Create a basic BOX plot on one numeric variable by TWO CATEGORICAL variable using HUE attribute**

In [ ]:
sns.boxplot(x='Payment',y='Total',hue='Gender',data=mart)

# **6. Add MEAN marker in the box plot using Showmeans attribute and change its style using meanprops**

In [ ]:
sns.boxplot(x='Payment',y='Total',hue='Gender',data=mart,showmeans=True,meanprops={"marker":"o"
                                                                                  ,"markerfacecolor":"white"
                                                                                  ,"markersize":"10"
                                                                                  ,"markeredgecolor":"black"})

# **7. Make HORIZONTAL box plot**

In [ ]:
sns.boxplot(x='Total',y='Payment',hue='Gender',data=mart,showmeans=True,meanprops={"marker":"o"
                                                                                  ,"markerfacecolor":"white"
                                                                                  ,"markersize":"5"
                                                                                  ,"markeredgecolor":"black"})

# **8. Change PALETTE, LINE WIDTH etc..**

In [ ]:
sns.boxplot(x='Total',y='Payment',hue='Gender',data=mart,showmeans=True,
            meanprops={"marker":"o"
                       ,"markerfacecolor":"white"
                       ,"markersize":"5"
                       ,"markeredgecolor":"black"}
           ,palette='CMRmap'
           ,linewidth=5)

# **9. Create box plot for EACH OF THE NUMERIC VARIABLE in the dataframe**

In [ ]:
plt.figure(figsize=(15,5))

sns.boxplot(data=mart)