In [ ]:
#!/usr/bin/env python
# coding: utf-8

In [2]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 293.3/293.3 kB 6.7 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: pandas>=0.25 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.0.5)
Collecting numpy!=1.24.0,>=1.17
  Downloading numpy-1.21.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.7/15.7 MB 58.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (3.2.2)
Requirement already satisfied: typing_extensions in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (4.4.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.25->seaborn) (2022.4)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.1->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: numpy, seaborn
  Attempting uninstall: numpy
    Found existing installation: numpy 1.14.5
    Uninstalling numpy-1.14.5:
      Successfully uninstalled numpy-1.14.5
Successfully installed numpy-1.21.6 seaborn-0.12.2
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# **Import all the required libraries**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# **Import the relevant DataFrames**

In [5]:
tips = sns.load_dataset('tips')
flights = sns.load_dataset('flights')
mart = pd.read_excel('mart_linePlot.xlsx', engine = 'openpyxl')
mart.columns = mart.columns.str.lower()
tips.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [ ]:
sns.set_style('white')

In [ ]:
flights.head(10)

In [ ]:
tips.columns

#### **1. COUNT PLOT**

In [ ]:
sns.countplot(data=mart, x='outlet_size')

#### **2. BAR PLOT**

In [ ]:
sns.barplot(data=mart, x='outlet_size', y='sales')

#### **3. BOX PLOT**

In [ ]:
plt.figure(figsize=(6,5))
sns.boxplot(data=mart, x='outlet_size', y='sales', showmeans=True, meanprops=dict(markerfacecolor='white',markersize=15))

#### **4. VIOLIN PLOT**

In [ ]:
sns.violinplot(data=mart,x='outlet_size',y='sales')

#### **5. STRIP PLOT**

In [ ]:
sns.stripplot(data=mart.sample(500),x='outlet_size',y='sales',jitter=.08)

#### **6. SWARM PLOT**

In [ ]:
sns.set_style('white')
sns.swarmplot(data=mart.sample(500),x='outlet_size',y='sales')

#### **7. CATEGORICAL or CAT PLOT**

In [ ]:
sns.set_style('white')
sns.catplot(data=mart,x='outlet_size',y='sales',kind='violin')

#### **8. HISTOGRAM PLOT or HIST PLOT**

In [ ]:
sns.histplot(data=mart,x='sales',bins=np.arange(0,11000,2000))

#### **9. KDE PLOT or KERNAL DENSITY ESTIMATION PLOT**

In [ ]:
sns.set_style('white')
sns.kdeplot(data=mart,x='sales')

#### **10. RUG PLOT**

In [ ]:
sns.rugplot(data=mart,x='sales')

#### **11. ECDF or Empirical Cumulative Distribution Funcitons PLOT**

In [ ]:
sns.ecdfplot(data=mart,x='sales')

#### **12. Distribution or DIST PLOT**

In [ ]:
sns.displot(data=mart,x='sales',rug=True,kde=True)

#### **13. JOINT PLOT**

In [ ]:
sns.jointplot(data=mart.sample(500),x='sales',y='item_mrp')

#### **14. PAIRT PLOT**

In [ ]:
sns.pairplot(data=mart.sample(500),kind='reg')

#### **15. SCATTER PLOT**

In [ ]:
sns.scatterplot(data=tips,x='total_bill',y='tip')

#### **16. LINE PLOT**

In [ ]:
sns.lineplot(data=mart,x='outlet_year',y='sales',ci=None,color='red')

# **17. REL or Relational PLOT**

In [ ]:
sns.relplot(data=flights,x='year',y='passengers')
# flights.columns

# **18. REG or Regression PLOT**

In [ ]:
sns.regplot(data=tips,x='total_bill',y='tip')

# **19. HEATMAP PLOT**

In [ ]:
mart_piv=mart.pivot_table(index='outlet_year',columns='outlet_size',values='sales')

In [ ]:
sns.heatmap(data=mart_piv,annot=True,fmt='.0f')

#### **20. CLUSTERMAP PLOT**

In [ ]:
sns.clustermap(data=mart_piv,annot=True,fmt='.0f')

#### **21. FacetGrid PLOT**

In [ ]:
learnerea=sns.FacetGrid(data=mart,col='outlet_size',row='tier')
learnerea.map_dataframe(sns.histplot,x='sales')